@define-color base01 #ffa041;
@define-color base02 #ff0000;
@define-color base03 #ff00ff;

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(255,255,255,0.7);
    color: rgba(51,46,52,1.0);
}

tooltip {
    background: rgba(255,255,255,0.8);
    border-radius: 7.5px;
}

tooltip label{
    color: rgba(51,46,52,1.0);
}

#tray,
#battery,
#clock {
    padding: 0px 8px;
    margin: 0px 3px;
}

#bluetooth,
#network,
#wireplumber,
#backlight {
    padding-right: 15px;
}

#workspaces {
    margin: 2px 1px 3px 1px;
}

#workspaces button {
    background: rgba(51,46,52,0.3);
    border-radius: 15px;
    padding: 0px 3px;
    margin: 4px 3px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    background: rgba(51,46,52,0.7);
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background: rgba(51,46,52,1.0);
    min-width: 45px;
}

#battery.warning {
    color: @base01;
}

#battery.critical {
    color: @base02;
}

#battery.dead {
    color: @base03;
}

#battery.dead:not(.charging) {
    animation-name: blink;
    animation-duration: 1.0s;
    animation-timing-function: steps(15);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: transparent;
    }
}
